.navbarBrand {
  @apply text-3xl;
  @apply font-bold;
  @apply tracking-tight;
  @apply italic;
}

.navbarBrand:hover {
  color: #4185b9;
  transition: 200ms;
}

.tri {
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #0b1822;
  border-left: 20px solid transparent;
  margin-left: 7px;
}

.navLink {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #4185b9, #4185b9 50%, #fff 50%);
  background-position: -100%;
  background-size: 200% 100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navLink:before {
  background: #4185b9;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 0;
}

.navLink:hover {
  background-position: 0;
  cursor: pointer;
}

.navLink:hover > svg {
  color: #4185b9;
}

.navLink:hover::before {
  width: 100%;
}

@media (max-width: 639px) {
  .navLink:before {
    top: 3px;
  }
}

@media (min-width: 640px) {
  .navLink:before {
    bottom: -3px;
  }

  .activeLink:before {
    width: 100%;
  }
}
